@font-face {
    font-family: 'SnellRoundhand';
    src: local('SnellRoundhand'), url(../../ninanitzschephotography/public/fonts/SnellRoundhandRegular.ttf) format('ttf');
}

@font-face {
    font-family: 'FuturaLight';
    src: local('FuturaLight'), url(../../ninanitzschephotography/public/fonts/FuturaLight.ttf) format('ttf');
}

@font-face {
    font-family: 'FuturaBold';
    src: local('FuturaBold'), url(../../ninanitzschephotography/public/fonts/FuturaBold.otf) format('otf');
}

@font-face {
    font-family: 'FuturaMedium';
    src: local('FuturaMedium'), url(../../ninanitzschephotography/public/fonts/FuturaMedium.otf) format('otf');
}
@font-face {
    font-family: 'RalewayLight';
    src: local('RalewayLight'), url(../../ninanitzschephotography/public/fonts/RalewayLight.ttf) format('ttf');
}